commands:
  01_create_db_folder:
    command: |
      mkdir -p /var/app/database
      chown webapp:webapp /var/app/database
      chmod 770 /var/app/database
  02_fix_permissions:
    command: |
      cd /var/app/current
      mkdir -p var/cache var/log var/session var/data web/assets
      chown -R webapp:webapp var/cache var/log var/session var/data web/assets
      chmod -R 770 var/cache var/log var/session var/data web/assets
